@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.NavBar {
    border: 1px solid #080808;
}

.Logo {
    font-family: 'Pacifico', cursive;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #47c3f8;
}

.NavDropdown {
    color: black;
}